<div th:fragment="delete-modal">
    <div class="ui basic modal" id="delete-modal">
        <div class="ui icon header">
            <i class="archive icon"></i>
            Delete event
        </div>
        <div class="content">
            <p>Are you sure?</p>
        </div>
        <div class="center aligned actions">
            <div class="white-text link-hover-center ui cancel item" style="padding: 1em;font-weight: 900;">No</div>
<!--            <div class="ui green ok inverted button">-->
<!--                <i class="checkmark icon"></i>-->
<!--                Yes-->
<!--            </div>-->
            <div class="white-text link-hover-center ui ok item" style="padding: 1em;font-weight: 900;">Yes</div>
        </div>
    </div>
</div>