<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title th:text ="${event.title}"></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="icon" type="image/png" th:href="@{/res/logo.png}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/master.css}">
</head>
<body>
<div th:insert="components/sidebar :: sidebar"></div>
    <div class="pusher">
        <div class="full height">
            <div th:insert="components/header :: header"></div>
            <div class="ui masthead center aligned segment" th:style="'background-image:'+
            'linear-gradient(to top, rgba(249, 170, 13, 0.3), rgba(249, 170, 13, 0.3)),' +
            'url('+${event.picture_path}+');'+
            'background-position: center center;'+
            'margin: 0em;' +
            'border: none;' +
            'border-radius: 0px;'
        ">
                <div class="ui container" style="padding: 5em;">
                    <p th:text="${event.title}" class="ui white-text" style="font-size: 7em; font-weight: 900;line-height: 0.5em;text-align: center;letter-spacing: 0.01em;">
                    </p>
                    <p th:text="${event.description}" class="ui white-text" style="font-weight: 600;"></p>
                    <div th:if="${event.status.toString() == 'PREPARE' && event.isVisible()}" th:text="${isSubscribed}? 'Unsubscribe' : 'Subscribe'" class="white-text link-hover-center btn-subscribe" style="padding: 1em;font-weight: 900;border: 3px solid #F9AA0D;" th:id="'event' + ${event.id}" onclick="subscribe(this)"></div>
                </div>
            </div>
            <div style="text-align: center">
                <p class="yellow-text" style="font-weight: 800;margin-top: 1em;">Organization by
                <a th:href="'/profile/' + ${event.publisher.username}">
                    <i class="circular user icon" th:if="${event.publisher.avatar_path == null}"></i>
                    <img class="ui avatar image" th:if="${event.publisher.avatar_path != null}" th:src="@{${event.publisher.avatar_path}}"/>
                    <span class="black-text"  style="border-bottom: 3px solid #F9AA0D;" th:text="${event.publisher.username}"></span>
                </a>
                </p>
                <br><span style="font-weight: 700;font-size: 3em;" th:text="${event.status.toString()}"></span>
                <br><br><p style="font-weight: 800;font-size: 5em;text-shadow:6px -6px 0px rgba(249,170,13,1);" th:text="${event.geStringDate()}"></p>
            </div>
            <div class="ui container" th:utext="${event.markup}" style="margin-bottom: 5em;"></div>

            <div class="ui container" th:if="${event.isVisible()}">
                <form class="ui reply form" th:if="${session.get('username') != null}">
                    <div class="field">
                        <textarea id="inp-comment-text"></textarea>
                    </div>
                    <div class="ui primary submit labeled icon button" id="btn-comment-add">
                        <i class="icon edit"></i> Add Comment
                    </div>
                </form>
                <div class="ui comments" id="comments-container">
                    <div class="comment" th:each="comment : ${event.getOrderedComments()}" th:if="${event.comments.size() > 0}">
                        <a class="avatar">
                            <img style="border-radius: 50%;" th:if="${comment.user.avatar_path != null}" th:src="${comment.user.avatar_path}">
                            <i class="ui tiny circular user icon" th:if="${comment.user.avatar_path == null}"></i>
                        </a>
                        <div class="content">
                            <a class="author" th:text="${comment.user.username}" th:href="'/profile/'+${comment.user.username}"></a>
                            <div class="metadata"><div class="date" th:text="${comment.getStringDate()}"></div></div>
                            <div class="text"><p th:text="${comment.text}"></p></div>
                            <div class="actions"><a class="reply">Reply</a></div>
                        </div>
                        <div class="comments" th:if="${comment.commentsReply.size() > 0}">
                            <div class="comment" th:each="comment : ${event.getOrderedComments()}" th:if="${event.comments.size() > 0}">
                                <a class="avatar">
                                    <img style="border-radius: 50%;" th:if="${comment.user.avatar_path != null}" th:src="${comment.user.avatar_path}">
                                    <i class="ui tiny circular user icon" th:if="${comment.user.avatar_path == null}"></i>
                                </a>
                                <div class="content">
                                    <a class="author" th:text="${comment.user.username}" th:href="'/profile/'+${comment.user.username}"></a>
                                    <div class="metadata"><div class="date" th:text="${comment.getStringDate()}"></div></div>
                                    <div class="text"><p th:text="${comment.text}"></p></div>
<!--                                    <div class="actions"><a class="reply">Reply</a></div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:insert="components/footer :: footer"></div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/medium-editor-insert-plugin/2.5.1/js/medium-editor-insert-plugin.min.js"></script>
<script th:src="@{/js/editor-settings.js}"></script>
<script th:src="@{/js/master.js}"></script>
<script th:src="@{/js/handlers/comment-handler.js}"></script>

</body>
</html>