<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>dev.meetup.no_permission</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="icon" type="image/png" th:href="@{/res/logo.png}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" th:href="@{/css/master.css}">
</head>
<body>
<div th:insert="components/sidebar :: sidebar"></div>
<div th:insert="components/header :: header"></div>
<div class="pusher" style="background-color:rgba(0, 0, 0, 0.01);">
    <div class="ui container" style="padding: 10em;">
        <p style="font-weight: 800;color:rgba(0,0,0,.2);font-size: 1.5em;text-align: center;">You don't have permission for this action, sorry :(</p>
    </div>
</div>
<div th:insert="components/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script th:src="@{/js/master.js}"></script>
</body>
</html>